<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Eric Hongming Lin on 28/05/18 3:01 AM
  ~ Copyright (c) 2018. All right reserved
  ~
  ~ Last modified 28/05/18 2:53 AM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aquaowlet.myreward">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".taskstree.TasksTreeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addedittask.AddEditTaskActivity">

        </activity>
    </application>

</manifest>